@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0a0a0a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-playfair {
    font-family: var(--font-playfair);
  }

  .text-gold {
    color: #D4AF37;
  }

  .bg-gold {
    background-color: #D4AF37;
  }
}

/* Animations */
@keyframes zoom-in {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.zoom-image {
  transition: transform 0.5s ease-in-out;
}

.zoom-image:hover {
  transform: scale(1.2);
}